/* Dashboard CSS */
.jacr-ui {
  display: none;
  position: absolute;
  top: 0;
  left: 220px;
  /*background-color: #282C35;*/
  width: 744px;
  height: 100%;
  color: white;
  padding: 10px;
}

.jacr-ui h2 {
  color: white;
}

.jacr-ui a {
  display: block;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
}

.divider {
  display: block;
  width: 100px;
  height: 2px;
  background-color: grey;
}

.jacr-title {
  padding: 15px;
  margin: auto;
}
